.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #111;
  padding: 15px 30px;
  color: white;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links li {
  cursor: pointer;
}

.nav-links li:hover {
  color: yellow;
}